<div class="grid">
    <div class="col-12">
        <p-panel header="Recherche" [toggleable]="true">
            <div class="my-2">
                <div class="formgrid grid">
                    <div class="field col-4">
                        <label htmlFor="input">Nom complet / Nom d'utilisateur</label>
                        <input pInputText id="input" type="text" placeholder="Nom complet / Nom d'utilisateur"
                            [(ngModel)]="filter.input" [style]="{ width: '100%' }" />
                    </div>
                    <div class="field col-4">
                        <label htmlFor="profileId">Profil</label>
                        <p-dropdown [options]="profiles" [(ngModel)]="filter.profileId" optionLabel="Value"
                            optionValue="Key" [filter]="true" filterBy="value" [showClear]="true" autoWidth="false"
                            [style]="{ width: '100%' }" appendTo="body" [virtualScroll]="true"
                            [virtualScrollItemSize]="30" placeholder="Choisir le profil">
                            <ng-template pTemplate="selectedItem" let-selectedOption>
                                <div class="flex align-items-center gap-2">
                                    <div>{{ selectedOption?.Value }}</div>
                                </div>
                            </ng-template>
                            <ng-template let-type pTemplate="item">
                                <div class="flex align-items-center gap-2">
                                    <div>{{ type?.Value }}</div>
                                </div>
                            </ng-template>
                        </p-dropdown>
                    </div>
                    <div class="field col-4">
                        <div style="
                                display: flex;
                                align-items: center;
                                flex-direction: row;
                            ">
                            <div>
                                <label for="isEnabled" class="mr-2">Actif</label>
                                <p-selectButton id="isEnabled" [options]="isEnableOptions"
                                    [(ngModel)]="filter.isEnabled" [multiple]="true" optionLabel="name"
                                    [style]="{ width: '100%' }"></p-selectButton>
                            </div>
                        </div>
                    </div>

                    <div class="field col-12" style="display: flex; justify-content: flex-end; margin-top: 10px;">
                        <button pButton label="Recherche" icon="pi pi-search" class="p-button p-button-success mr-2"
                            type="button" (click)="onSearch()"></button>
                        <button pButton pRipple label="Réinitialiser" icon="pi pi-refresh" class="p-button-outlined"
                            (click)="onReset()"></button>
                    </div>
                </div>
            </div>
        </p-panel>
    </div>
    <div class="col-12">
        <div class="card px-0 py-0">
            <p-table #dt [value]="PaginatedList.Items" [rows]="10" [rows]="10" [rowsPerPageOptions]="[10, 50, 100]"
                [showCurrentPageReport]="true" [rowHover]="true" dataKey="id">
                <ng-template pTemplate="caption">
                    <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">                        
                        <h3 class="m-0"><i class="pi pi-fw pi-list text-2xl text-color-primary"></i> Liste des utilisateurs</h3>
                        <div>
                            <button pButton pRipple label="Ajouter" icon="pi pi-plus" class="p-button-success mr-2"
                                (click)="onPost(1, null)"></button>
                        </div>

                        <!-- <span class="block mt-2 md:mt-0 p-input-icon-left">
                            <i class="pi pi-search"></i>
                            <input
                                pInputText
                                type="text"
                                placeholder="Recherche..."
                                class="w-full sm:w-auto"
                            />
                        </span> -->
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th style="min-width: 12rem">
                            <div class="flex justify-content-between align-items-center">
                                Nom d'utilisateur
                            </div>
                        </th>
                        <th style="min-width: 12rem">
                            <div class="flex justify-content-between align-items-center">
                                Nom complet
                            </div>
                        </th>
                        <th>
                            <div class="flex justify-content-between align-items-center">
                                Profil
                            </div>
                        </th>
                        <th>
                            <div class="flex justify-content-between align-items-center">
                                Actif
                            </div>
                        </th>
                        <th style="min-width: 12rem"></th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-Item>
                    <tr>
                        <td>
                            <span class="p-column-title">Nom d'utilisateur</span>
                            {{ Item.UserName }}
                        </td>
                        <td>
                            <span class="p-column-title">Nom complet</span>
                            {{ Item.FullName }}
                        </td>
                        <td>
                            <span class="p-column-title">Profil</span>
                            {{ Item.Profile?.Label }}
                        </td>
                        <td>
                            <span class="p-column-title">Actif</span>
                            {{ Item.IsEnabled ? "Oui" : "Non" }}
                        </td>
                        <td style="width: 14%; min-width: 8rem">
                            <div class="flex">
                                <button  pButton pRipple pTooltip="Modifier"
                                    tooltipPosition="top" icon="pi pi-pencil"
                                    class="p-button-rounded p-button-warning mr-2" (click)="onPost(2, Item)"></button>
                                <button  pButton pRipple
                                    pTooltip="Réinitialiser le mot de passe" tooltipPosition="left" icon="pi pi-refresh"
                                    class="p-button-rounded p-button-info mr-2" (click)="onResetPassword(Item)"></button>
                            </div>
                        </td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="emptymessage">
                    <tr>
                        <td [attr.colspan]="12">
                            <div class="text-center">
                                <div class="center_media">
                                    <img src="./assets/layout/images/no_data.svg" width="120px" alt="image no_data" />
                                </div>
                                <p *ngIf="!_loadingService.isLoading" class="font-weight-bold mt-2">
                                    Aucun enregistrement trouvé
                                </p>
                                <p *ngIf="_loadingService.isLoading" class="font-weight-bold mt-2">
                                    Chargement ...
                                </p>
                            </div>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
            <div class="flex align-items-center justify-content-end">
                <span class="mx-1 text-color">Éléments par page: </span>
                <p-dropdown [options]="options" optionLabel="label" (onChange)="onChangeSelect()" optionValue="value"
                    [(ngModel)]="filter.pageSize" (ngModelChange)="filter.first = 0" />
                <p-paginator [first]="filter.first" [rows]="filter.pageSize" [totalRecords]="PaginatedList.TotalPages"
                    (onPageChange)="handlePagination($event)" [showCurrentPageReport]="true"
                    currentPageReportTemplate="{first} - {last} of {totalRecords}" [showPageLinks]="false"
                    [showFirstLastIcon]="false"></p-paginator>
            </div>
        </div>
    </div>

    <p-confirmDialog header="Confirmation" key="confirm1" icon="pi pi-exclamation-triangle"
        message="Voulez vous mettre ce titre de propriété en rebut ?" [style]="{ width: '350px' }"
        acceptButtonStyleClass="p-button-text" rejectButtonStyleClass="p-button-text" acceptLabel="Oui"
        rejectLabel="Non">
    </p-confirmDialog>

    <p-confirmDialog header="Confirmation" key="confirm2" icon="pi pi-exclamation-triangle"
        message="Voulez vous passer ce titre de propriété en gratuité ?" [style]="{ width: '350px' }"
        acceptButtonStyleClass="p-button-text" rejectButtonStyleClass="p-button-text" acceptLabel="Oui"
        rejectLabel="Non">
    </p-confirmDialog>

    <p-toast key="tst"></p-toast>

    <p-dialog header="Nouveau utilisateur" [(visible)]="display" [dismissableMask]="true" [modal]="true" showEffect="fade"
        [style]="{ width: '50vw' }" [breakpoints]="{ '960px': '75vw' }" [closable]="false">
        <div class="col-12 md:col-12">
            <div class="card p-fluid">
                <div class="field">
                    <label for="userName">Nom d'utilisateur</label>
                    <input pInputText id="userName" type="text" [(ngModel)]="AddObj.UserName" required name="userName"
                        #userNameField="ngModel" />
                </div>
                <div class="field">
                    <label for="fullName">Nom complet</label>
                    <input pInputText id="fullName" type="text" [(ngModel)]="AddObj.FullName" required name="fullName"
                        #fullNameField="ngModel" />
                </div>
                <div class="field">
                    <label for="email">Email</label>
                    <input pInputText id="email" type="email" [(ngModel)]="AddObj.Email" required name="email"
                        #emailField="ngModel" />
                </div>
                <div class="field">
                    <label for="password">Mot de passe</label>
                    <p-password 
                        id="password" 
                        [(ngModel)]="AddObj.password" (ngModelChange)="onInputChange($event)"
                        required
                        name="password" [toggleMask]="true"
                        #passwordField="ngModel"
                        [ngClass]="{'invalid-input': showPasswordError}"
                        [feedback]="false">                    
                    </p-password>                
                    <div *ngIf="showPasswordError" class="error-message">
                        Votre mot de passe ne répond pas aux critères suivants :
                        <ul>
                            <li>Doit contenir au moins une lettre en majuscule</li>
                            <li>Doit contenir au moins une lettre en minuscule</li>
                            <li>Doit contenir au moins un nombre</li>
                            <li>Doit contenir au moins un caractère spécial</li>
                            <li>Doit faire au moins 8 caractères</li>
                        </ul>
                    </div>
                </div>
                
                <div class="field">
                    <label htmlFor="profileIdToAdd">Profil</label>
                    <p-dropdown [options]="profiles" [(ngModel)]="AddObj.ProfileId" optionLabel="Value"
                        optionValue="Key" [filter]="true" filterBy="Value" [showClear]="true" autoWidth="false"
                        [style]="{ width: '100%' }" appendTo="body" [virtualScroll]="true" [virtualScrollItemSize]="30"
                        placeholder="Choisir le profil" required name="profileIdToAdd"  #profileIdToAdd="ngModel">
                        <ng-template pTemplate="selectedItem" let-selectedOption>
                            <div class="flex align-items-center gap-2">
                                <div>{{ selectedOption?.Value }}</div>
                            </div>
                        </ng-template>
                        <ng-template let-type pTemplate="item">
                            <div class="flex align-items-center gap-2">
                                <div>{{ type?.Value }}</div>
                            </div>
                        </ng-template>
                    </p-dropdown>
                </div>
                
                <div class="field">
                    <label for="enabledToAdd" class="mr-5">Actif :</label>
                    <p-checkbox name="enabledToAdd" [(ngModel)]="AddObj.IsEnabled" id="enabledToAdd"
                        [binary]="true"></p-checkbox>
                </div>
            </div>
        </div>
        <ng-template pTemplate="footer">
            <button  pButton (click)="onSubmit()" label="Enregistrer"
                icon="pi pi-check" class="p-button-success" [disabled]="
                    !userNameField.valid ||
                    !fullNameField.valid ||
                    !emailField.valid ||
                    !passwordField.valid ||
                    !profileIdToAdd.valid
                "></button>
            <button pButton (click)="onCloseDialig()" label="Fermer" icon="pi pi-times"
                class="p-button-outlined"></button>
        </ng-template>
    </p-dialog>

    <p-dialog header="Moidification utilisateur" [(visible)]="displayUpdate" [dismissableMask]="true" [modal]="true" showEffect="fade"
        [style]="{ width: '50vw' }" [breakpoints]="{ '960px': '75vw' }" [closable]="false">
        <div class="col-12 md:col-12">
            <div class="card p-fluid">
                <div class="field">
                    <label for="userName">Nom d'utilisateur</label>
                    <input pInputText id="userName" type="text" [(ngModel)]="AddObj.UserName" required name="userName"
                        #userNameField="ngModel" />
                </div>
                <div class="field">
                    <label for="fullName">Nom complet</label>
                    <input pInputText id="fullName" type="text" [(ngModel)]="AddObj.FullName" required name="fullName"
                        #fullNameField="ngModel" />
                </div>
                <div class="field">
                    <label for="email">Email</label>
                    <input pInputText id="email" type="email" [(ngModel)]="AddObj.Email" required name="email"
                        #emailField="ngModel" />
                </div>
                <div class="field">
                    <label htmlFor="profileIdToAdd">Profil</label>
                    <p-dropdown [options]="profiles" [(ngModel)]="AddObj.ProfileId" optionLabel="Value"
                        optionValue="Key" [filter]="true" filterBy="Value" [showClear]="true" autoWidth="false"
                        [style]="{ width: '100%' }" appendTo="body" [virtualScroll]="true" [virtualScrollItemSize]="30"
                        placeholder="Choisir le profil" required name="profileIdToAdd"  #profileIdField="ngModel">
                        <ng-template pTemplate="selectedItem" let-selectedOption>
                            <div class="flex align-items-center gap-2">
                                <div>{{ selectedOption?.Value }}</div>
                            </div>
                        </ng-template>
                        <ng-template let-type pTemplate="item">
                            <div class="flex align-items-center gap-2">
                                <div>{{ type?.Value }}</div>
                            </div>
                        </ng-template>
                    </p-dropdown>
                </div>
                <div class="field">
                    <label for="enabledToAdd" class="mr-5">Actif :</label>
                    <p-checkbox name="enabledToAdd" [(ngModel)]="AddObj.IsEnabled" id="enabledToAdd"
                        [binary]="true"></p-checkbox>
                </div>
            </div>
        </div>
        <ng-template pTemplate="footer">
            <button  pButton (click)="onSubmit()" label="Enregistrer"
                icon="pi pi-check" class="p-button-success" [disabled]="
                    !userNameField.valid ||
                    !fullNameField.valid ||
                    !emailField.valid ||
                    !profileIdField.valid
                "></button>
            <button pButton (click)="onCloseDialigUpdate()" label="Fermer" icon="pi pi-times"
                class="p-button-outlined"></button>
        </ng-template>
    </p-dialog>



    <p-dialog  header="Réinitialisation du mot de passe" [(visible)]="displayResetPassword" [dismissableMask]="true" [modal]="true" showEffect="fade" [style]="{ width: '50vw' }"
        [breakpoints]="{ '960px': '75vw' }" [closable]="false">
        <div class="col-12 md:col-12">
            <div class="card card-flex">
                <div>
                    <label class="newPasswordLabel">Nouveau mot de passe : </label>
                    <label class="newPassword">{{newPassword}}</label>
                </div>
                <div>
                    <button pButton pRipple pTooltip="Copier le mot de passe"
                    tooltipPosition="top" icon="pi pi-copy" (click)="onCopyPassword()"
                    class="p-button-rounded p-button-info mr-2"></button>
                </div>
            </div>
        </div>
        <ng-template pTemplate="footer">
            <button pButton (click)="onCloseDialigResetPassword()" label="Fermer" icon="pi pi-times"
                class="p-button-outlined"></button>
        </ng-template>
    </p-dialog>

</div>

<style>
    .custom-fileupload-buttonbar {
        display: flex;
        justify-content: space-between;
    }

    .validation-list li {
        margin-bottom: 3px;
    }

    element.style {
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
    }
</style>