<div class="card">
  <!-- Toolbar -->
  <p-toolbar>
    <ng-template pTemplate="left">
      <span class="text-xl font-bold text-50">Etalonnages</span>
    </ng-template>

    <ng-template pTemplate="right">
      <p-button severity="secondary" styleClass="p-button-outlined" icon="pi pi-plus" label="Nouveau"
        (click)="openNew()"></p-button>
    </ng-template>
  </p-toolbar>

  <!-- Data Table -->
  <p-table [value]="etalonnages" [loading]="loading" [paginator]="true" [rows]="10" [rowsPerPageOptions]="[10,25,50]"
    [showCurrentPageReport]="true" currentPageReportTemplate="Affichage de {first} à {last} sur {totalRecords} entrées"
    styleClass="p-datatable-gridlines p-datatable-sm p-datatable-striped p-datatable-gridlines p-datatable-hover">

    <!-- Table Header -->
    <ng-template pTemplate="header">
      <tr>
        <th>Type Intervention</th>
        <th>Date Intervention</th>
        <th>Constats</th>
        <th>Rapport Intervention</th>
        <th style="width: 120px">Actions</th>
      </tr>
    </ng-template>

    <!-- Table Body -->
    <ng-template pTemplate="body" let-etalonnage>
      <tr>
        <td>{{ etalonnage.interventionType }}</td>
        <td>{{ etalonnage.dateIntervention | date:'dd/MM/yyyy' }}</td>
        <td>{{ etalonnage.constats }}</td>
        <td>
          <ng-container *ngIf="etalonnage.rapportIntervention; else uploadTemplate">
            <button pButton pRipple icon="pi pi-download" label="Télécharger"
              class="p-button-outlined p-button-sm"
              (click)="downloadFile(etalonnage.id, etalonnage.rapportIntervention)">
            </button>
          </ng-container>
          <ng-template #uploadTemplate>
            <input type="file" #fileInput style="display: none" (change)="uploadFile($event, etalonnage)" accept=".pdf">
            <button pButton pRipple icon="pi pi-upload" label="Importer"
              class="p-button-outlined p-button-sm" (click)="fileInput.click()">
            </button>
          </ng-template>
        </td>
        <td>
          <button *ngIf="isCC" pButton pRipple icon="pi pi-trash"
            class="p-button-outlined p-button-danger p-button-sm"
            (click)="deleteEtalonnage(etalonnage.id)">
          </button>
        </td>
      </tr>
    </ng-template>

    <!-- Empty Message -->
    <ng-template pTemplate="emptymessage">
      <tr>
        <td colspan="5" class="text-center py-5 text-500">
          No etalonnages found
        </td>
      </tr>
    </ng-template>

  </p-table>
</div>