<div class="card">
  <p-toast></p-toast>
  <p-confirmDialog></p-confirmDialog>

  <div class="flex justify-center my-4 border-b border-green-500 pb-2">
    <p-tabMenu [model]="tabItems" [(activeItem)]="activeItem"
      styleClass="bg-white rounded-lg shadow-sm px-4 py-2"></p-tabMenu>
  </div>

  <!-- Toolbar -->
  <p-toolbar>
    <ng-template pTemplate="left">
      <span class="text-xl font-bold">Formations</span>
    </ng-template>

    <ng-template pTemplate="right">

      <div class="flex align-items-center gap-2">
        <p-button *ngIf="generalService.canActivate('I-Frm')" icon="pi pi-upload" label="Import" severity="secondary"
          styleClass="p-button-outlined" (click)="openImportDialog()"></p-button>
        <!-- <p-button *ngIf="canEdit()"  icon="pi pi-plus" label="New"
                severity="secondary" styleClass="p-button-outlined"
                (click)="openNewForm()"></p-button> -->
      </div>
    </ng-template>
  </p-toolbar>

  <!-- Data Table -->
  <p-table *ngIf="generalService.canActivate('R-Frm')" [value]="formations" [loading]="loading" [paginator]="true"
    [rows]="10" [showCurrentPageReport]="true"
    currentPageReportTemplate="Affichage de {first} à {last} sur {totalRecords} entrées"
    [rowsPerPageOptions]="[10, 25, 50]" [globalFilterFields]="['chefCentre','agentField','formationType','resultat']"
    styleClass="p-datatable-gridlines p-datatable-sm p-datatable-striped p-datatable-hoverable-rows">

    <!-- Table Header -->
    <ng-template pTemplate="header">
      <tr>
        <th [pSortableColumn]="isChefCentre ? 'chefCentre' : 'agentVisiteur'">
          <div class="flex align-items-center gap-2">
            <p-sortIcon [field]="isChefCentre ? 'chefCentre' : 'agentVisiteur'"></p-sortIcon>
            <span>Nom</span>
            <p-columnFilter type="text" [field]="isChefCentre ? 'chefCentre' : 'agentVisiteur'" display="menu"
              class="ml-auto"></p-columnFilter>
          </div>
        </th>

        <th pSortableColumn="dateDebut">
          <div class="flex align-items-center gap-2">
            <p-sortIcon field="dateDebut"></p-sortIcon>
            <span>Date Debut</span>
            <p-columnFilter type="date" field="dateDebut" display="menu" class="ml-auto"></p-columnFilter>
          </div>
        </th>

        <th pSortableColumn="dateFin">
          <div class="flex align-items-center gap-2">
            <p-sortIcon field="dateFin"></p-sortIcon>
            <span>Date Fin</span>
            <p-columnFilter type="date" field="dateFin" display="menu" class="ml-auto"></p-columnFilter>
          </div>
        </th>

        <th pSortableColumn="formationType">
          <div class="flex align-items-center gap-2">
            <p-sortIcon field="formationType"></p-sortIcon>
            <span>Formation Type</span>
            <p-columnFilter type="text" field="formationType" display="menu" class="ml-auto"></p-columnFilter>
          </div>
        </th>

        <th>
          <div class="flex align-items-center">
            <span>Status</span>
          </div>
        </th>

        <th pSortableColumn="resultat">
          <div class="flex align-items-center gap-2">
            <p-sortIcon field="resultat"></p-sortIcon>
            <span>Result</span>
          </div>
        </th>

        <th style="width: 120px">Actions</th>
      </tr>
    </ng-template>


    <!-- Table Body -->
    <ng-template pTemplate="body" let-formation>
      <tr>
        <td>{{ formation.chefCentre || formation.agentVisiteur }}</td>
        <td>{{ formation.dateDebut | date:'dd/MM/yyyy' }}</td>
        <td>{{ formation.dateFin | date:'dd/MM/yyyy' }}</td>
        <td>{{ formation.formationType }}</td>
        <td>
          <p-tag [severity]="formation.dateEnvoiCneh ? 'success' : 'danger'"
            [value]="formation.dateEnvoiCneh ? 'Synchronized' : 'Sync Error'">
          </p-tag>
          <i *ngIf="!formation.dateEnvoiCneh" class="pi pi-info-circle text-red-400 ml-1"
            pTooltip="{{formation.errorCneh}}" tooltipPosition="bottom"></i>
        </td>
        <td>
          <p-avatar *ngIf="formation.resultat" icon="pi pi-check" size="small" shape="circle"
            [style]="{'background-color':'#22c55e'}"></p-avatar>
          <p-avatar *ngIf="!formation.resultat" icon="pi pi-times" size="small" shape="circle"
            [style]="{'background-color':'#ef4444'}"></p-avatar>
        </td>
        <td class="flex gap-1">
          <div class="flex justify-content-end gap-2">
            <button *ngIf="generalService.canActivate('U-Frm')" pButton pRipple icon="pi pi-pencil"
              class="p-button-outlined mr-2" (click)="editFormation(formation)"></button>
            <button *ngIf="generalService.canActivate('D-Frm')" pButton pRipple icon="pi pi-trash"
              class="p-button-outlined p-button-danger" (click)="confirmDelete(formation.id)"></button>
          </div>
        </td>
      </tr>
    </ng-template>

    <!-- Empty Table Message -->
    <ng-template pTemplate="emptymessage">
      <tr>
        <td colspan="7" class="text-center py-5 text-500">
          No formations found
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>