<p-table 
  [value]="formationTypes" 
  [paginator]="true" 
  [rows]="10"
  [rowsPerPageOptions]="[5,10,25,50]"
 styleClass="p-datatable-sm p-datatable-striped p-datatable-hoverable-rows"
>
  <ng-template pTemplate="header">
    <tr>
      <th>Code</th>
      <th>Libellé</th>
      <th>Nombre d'heures</th>
      <th>Cible de formation</th>
    </tr>
  </ng-template>

  <ng-template pTemplate="body" let-item>
    <tr>
      <td>{{item.code}}</td>
      <td>{{item.libelle || '-'}}</td>
      <td>{{item.nombreHeures}}</td>
      <td>{{item.cibleFormation || '-'}}</td>
    </tr>
  </ng-template>
</p-table>
